.Carousel {
  margin-top: 20px;
}
.Carousel > button {
  opacity: 0;
  height: 100%;
  width: 5vw;
  z-index: 1;
}
.Carousel > button:hover {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}
.Carousel ul li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}
.Wrap {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.Wrap a {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 4px;
}
.Wrap a img {
  width: 100%;
  height: 100%;
}
.Wrap a:hover {
  padding: 0;
  border: 4px solid rgba(249, 249, 249, 0.8);
  transition-duration: 300ms;
}
